@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --font-family: "Fraunces", sans-serif;
  --second-family: "Barlow", sans-serif;
  --third-family: "Fraunces", sans-serif;
}

body {
  overflow-x: hidden;
  margin: 0;
  background-color: #FAFBFE;
}

.container {
  max-width: 1324px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.header_btn {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../img/menu.svg");
  background-position: center;
  border: none;
  cursor: pointer;
}

.header_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_logo {
  display: inline-block;
  width: 163;
}

.header_list {
  gap: 33px;
  display: none;
}

.header_link {
  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #83888f;
}

@media screen and (min-width: 768px) {
  .header_logo {
    width: 236px;
  }
  .header_btn {
    display: none;
  }
  .header_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.hero {
  padding-bottom: 120px;
}

.hero_block {
  padding: 100px 23px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/hero.svg");
  border-radius: 10px;
}

.hero_title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  color: #fefcf7;
  margin-bottom: 24px;
}

.hero_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fefcf7;
  margin-bottom: 39px;
}

.hero_btn {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 18px;
  line-height: 139%;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fefcf7;
  border-radius: 6px;
  background-color: #0e8784;
  padding: 16px 31px;
  width: 217px;
  height: 56px;
}

@media screen and (min-width: 768px) {
  .hero_block {
    padding: 104px 58px;
    text-align: start;
    background-image: url("../img/hero1.svg");
  }
  .hero_title {
    font-size: 48px;
    line-height: 100%;
    color: #fcfcf7;
    width: 329px;
  }
  .hero_text {
    font-size: 15px;
    line-height: 167%;
    width: 398px;
  }
  .hero_btn {
    display: inline-block;
  }
}
@media screen and (min-width: 992px) {
  .hero_block {
    padding: 117px 85px;
    background-image: url("../img/hero2.svg");
  }
  .hero_title {
    font-size: 72px;
    width: 493px;
    text-align: left;
    margin-bottom: 32px;
  }
  .hero_text {
    font-size: 16px;
    text-align: left;
    width: 445px;
    margin-bottom: 56px;
  }
}
.about {
  padding-top: 120px;
  padding-bottom: 47px;
  background-repeat: no-repeat;
  background-position: top;
  background-image: url("../img/img.svg");
}

.about_tx {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #333d4b;
  margin-top: 24px;
}

.about_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #333d4b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.about_list {
  text-align: center;
}

.about_item {
  margin-bottom: 48px;
}

.about_title {
  margin-top: 13px;
}

@media screen and (min-width: 768px) {
  .about {
    background-image: url("../img/img1.svg");
    background-position: top center;
    background-size: contain;
  }
  .about_tx {
    font-size: 24px;
    line-height: 133%;
    text-align: start;
  }
  .about_text {
    font-size: 15px;
    line-height: 167%;
    text-align: start;
  }
  .about_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 36px;
    padding: 0px 78px;
  }
}
@media screen and (min-width: 992px) {
  .about {
    background-image: url("../img/img2.svg");
    background-position: top center;
    background-size: contain;
  }
  .about_tx {
    font-size: 24px;
    line-height: 133%;
    text-align: center;
  }
  .about_text {
    font-size: 16px;
    line-height: 162%;
    text-align: center;
  }
  .about_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .about_item {
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.choose_title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 28px;
  line-height: 100%;
  text-align: center;
  color: #fefcf7;
}

.choose {
  padding-top: 120px;
  padding-bottom: 120px;
}

.choose_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fefcf7;
}

.choose_block {
  background-color: #2c343e;
  padding: 67px 24px;
  border-radius: 10px;
  position: relative;
}
.choose_block::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 10px;
  height: 600px;
  background-color: #2c343e;
  z-index: -1;
}

.choose_list {
  padding: 0 24px;
}

.choose_item {
  background-color: #0e8784;
  border-radius: 8px;
  padding: 72px 34px 51px 34px;
  margin-bottom: 25px;
  text-align: center;
}
.choose_item::before {
  content: "";
  width: 72px;
  height: 72px;
  margin-bottom: 56px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/choose.svg");
}

.choose_sub_title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #fefcf7;
}

.choose_des {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fefcf7;
}

@media screen and (min-width: 768px) {
  .choose_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
    padding: 41px 48px 41px 70px;
    gap: 55px;
  }
  .choose_item::before {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-bottom: 0;
  }
  .choose_list {
    padding: 0 58px;
  }
  .choose_block::after {
    height: 372px;
  }
  .choose_sub_title {
    text-align: start;
    margin-bottom: 16px;
  }
  .choose_des {
    text-align: start;
  }
}
@media screen and (min-width: 1100px) {
  .choose_list {
    display: grid;
    padding: 0 85px;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .choose_text {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  .choose_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 72px 48px 48px 48px;
  }
  .choose_block::after {
    height: 284px;
  }
}/*# sourceMappingURL=main.css.map */